In [4]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
!pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\38095\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\38095\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\38095\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\38095\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\38095\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\38095\anaconda3\lib\site-packages (from requests) (2024.2.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\38095\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [77]:
url = "https://fred.stlouisfed.org/release/tables?rid=110&eid=257197&od=2022-01-01#"

response = requests.get(url)

print(headers)

{'Date': 'Thu, 11 Apr 2024 08:58:59 GMT', 'Content-Type': 'text/html; charset=UTF-8', 'Transfer-Encoding': 'chunked', 'Connection': 'close', 'Accept-CH': 'Sec-CH-UA-Bitness, Sec-CH-UA-Arch, Sec-CH-UA-Full-Version, Sec-CH-UA-Mobile, Sec-CH-UA-Model, Sec-CH-UA-Platform-Version, Sec-CH-UA-Full-Version-List, Sec-CH-UA-Platform, Sec-CH-UA, UA-Bitness, UA-Arch, UA-Full-Version, UA-Mobile, UA-Model, UA-Platform-Version, UA-Platform, UA', 'Cross-Origin-Embedder-Policy': 'require-corp', 'Cross-Origin-Opener-Policy': 'same-origin', 'Cross-Origin-Resource-Policy': 'same-origin', 'Origin-Agent-Cluster': '?1', 'Permissions-Policy': 'accelerometer=(),autoplay=(),browsing-topics=(),camera=(),clipboard-read=(),clipboard-write=(),geolocation=(),gyroscope=(),hid=(),interest-cohort=(),magnetometer=(),microphone=(),payment=(),publickey-credentials-get=(),screen-wake-lock=(),serial=(),sync-xhr=(),usb=()', 'Referrer-Policy': 'same-origin', 'X-Frame-Options': 'SAMEORIGIN', 'cf-mitigated': 'challenge', 'cf-chl-out': 'ZPeF8Ze7coJjzu3bbTlw1JgamAXassOnDEWPfPUa12kvWPS2xJapW+hvcgvPrPc/MVzwPlsn34IffKNQBXG1eUJEnlpdI+ujtpMtPV174YJgzyOU2XIIFMV8A6FlTJrKuYGZFS03qXGiJ/96VUPS9Q==$nRLV700cVCttmIqimD39/w==', 'Cache-Control': 'private, max-age=0, no-store, no-cache, must-revalidate, post-check=0, pre-check=0', 'Expires': 'Thu, 01 Jan 1970 00:00:01 GMT', 'Set-Cookie': '__cf_bm=Ttn_b3qySgJOSLBI3m3rzJk8mT3_xLHPeGYr7hnbUfo-1712825939-1.0.1.1-fodk9l4jJtYdTvBHkwdd1VIYsmTkJ075TfxNLsK1Dn8bvzZSYRmZ1H0lBPyPd9aBSs6q02J6pxhp_FqBWqPa2Q; path=/; expires=Thu, 11-Apr-24 09:28:59 GMT; domain=.indeed.com; HttpOnly; Secure; SameSite=None', 'Vary': 'Accept-Encoding', 'Server': 'cloudflare', 'CF-RAY': '8729c72a48406a78-TXL', 'Content-Encoding': 'br', 'alt-svc': 'h3=":443"; ma=86400'}

In [78]:
print(response.headers['Content-Type'])

text/html; charset=UTF-8

In [79]:
print(response.status_code)

200

In [80]:
soup = BeautifulSoup(response.content, "html.parser")

In [81]:
type(soup)

bs4.BeautifulSoup

In [87]:
soup.find("title")

In [94]:
average_income = soup.find_all('td', "fred-rls-elm-vl-td")[::3]
average_income_lists = [i.get_text().strip() for i in average_income]
average_income_lists
len(average_income_lists)

51

In [93]:
name_state = soup.find_all('span', class_="fred-rls-elm-nm")
name_state_lists = [i.get_text() for i in name_state]
name_state_lists
len(name_state_lists)

51

In [102]:
states = []
incomes = []

for i in name_state_lists:
    states.append(i)
    
for i in average_income_lists:
    incomes.append(i)

In [103]:
income_state_df = pd.DataFrame({
    'State': states,
    'Av_income': incomes,
})

In [104]:
income_state_df

                   State Av_income
0                Alabama    50,920
1                 Alaska    68,664
2                Arizona    58,390
3               Arkansas    52,604
4             California    77,013
5               Colorado    75,708
6            Connecticut    83,340
7               Delaware    63,177
8   District of Columbia    96,092
9                Florida    64,804
10               Georgia    56,588
11                Hawaii    61,813
12                 Idaho    56,615
13              Illinois    67,653
14               Indiana    58,329
15                  Iowa    60,238
16                Kansas    60,433
17              Kentucky    51,929
18             Louisiana    54,527
19                 Maine    60,425
20              Maryland    70,236
21         Massachusetts    84,551
22              Michigan    57,043
23             Minnesota    68,874
24           Mississippi    46,388
25              Missouri    57,825
26               Montana    60,984
27              Nebraska    64,263
28                Nevada    62,092
29         New Hampshire    73,711
30            New Jersey    77,206
31            New Mexico    52,190
32              New York    75,423
33        North Carolina    58,125
34          North Dakota    70,391
35                  Ohio    57,759
36              Oklahoma    56,306
37                Oregon    62,314
38          Pennsylvania    64,506
39          Rhode Island    63,551
40        South Carolina    53,615
41          South Dakota    68,173
42             Tennessee    58,311
43                 Texas    62,585
44                  Utah    59,449
45               Vermont    63,035
46              Virginia    69,021
47            Washington    75,345
48         West Virginia    50,024
49             Wisconsin    61,496
50               Wyoming    73,216

In [111]:
income_state_df = income_state_df.sort_values('State').reset_index(drop= True )
income_state_df

                   State Av_income
0                Alabama    50,920
1                 Alaska    68,664
2                Arizona    58,390
3               Arkansas    52,604
4             California    77,013
5               Colorado    75,708
6            Connecticut    83,340
7               Delaware    63,177
8   District of Columbia    96,092
9                Florida    64,804
10               Georgia    56,588
11                Hawaii    61,813
12                 Idaho    56,615
13              Illinois    67,653
14               Indiana    58,329
15                  Iowa    60,238
16                Kansas    60,433
17              Kentucky    51,929
18             Louisiana    54,527
19                 Maine    60,425
20              Maryland    70,236
21         Massachusetts    84,551
22              Michigan    57,043
23             Minnesota    68,874
24           Mississippi    46,388
25              Missouri    57,825
26               Montana    60,984
27              Nebraska    64,263
28                Nevada    62,092
29         New Hampshire    73,711
30            New Jersey    77,206
31            New Mexico    52,190
32              New York    75,423
33        North Carolina    58,125
34          North Dakota    70,391
35                  Ohio    57,759
36              Oklahoma    56,306
37                Oregon    62,314
38          Pennsylvania    64,506
39          Rhode Island    63,551
40        South Carolina    53,615
41          South Dakota    68,173
42             Tennessee    58,311
43                 Texas    62,585
44                  Utah    59,449
45               Vermont    63,035
46              Virginia    69,021
47            Washington    75,345
48         West Virginia    50,024
49             Wisconsin    61,496
50               Wyoming    73,216

In [113]:
income_state_df.to_csv('income_state.csv', index=False)